section.home-1
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .image
                    img(src="./img/home/banner-1.png", alt="")
            .swiper-slide
                .image
                    img(src="./img/home/banner-1.png", alt="")
        .swiper-pagination