section.san-pham.nahy-section
    .container
        h2.nahy-title.center.mb-2.has-logo Thời trang
            img(src="./img/linh-vuc-hoat-dong/logo-1.png", alt="")
        .list-item
            .row
                -for(i=0;i<12;i++)
                    .col-lg-6.item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/san-pham/1.png", alt="")
                                figcaption
                                    p Thời trang