.product-detail 
    .container
        .product-detail-wrapper
            .slider
                .gallery-detail 
                    .swiper-container.gallery-top
                        .swiper-wrapper 
                            .swiper-slide 
                                .img
                                    img(src="./img/pro-1.png", alt="")
                            .swiper-slide 
                                .img
                                    img(src="./img/pro-1.png", alt="")
                            .swiper-slide 
                                .img
                                    img(src="./img/pro-1.png", alt="")
                            .swiper-slide 
                                .img
                                    img(src="./img/pro-1.png", alt="")
                            .swiper-slide 
                                .img
                                    img(src="./img/pro-1.png", alt="")
                    .slider-thumbs
                        .swiper-container.gallery-thumbs
                            .swiper-wrapper 
                                .swiper-slide 
                                    .img
                                        img(src="./img/pro-1.png", alt="")
                                .swiper-slide 
                                    .img
                                        img(src="./img/pro-1.png", alt="")
                                .swiper-slide 
                                    .img
                                        img(src="./img/pro-1.png", alt="")
                                .swiper-slide 
                                    .img
                                        img(src="./img/pro-1.png", alt="")
                                .swiper-slide 
                                    .img
                                        img(src="./img/pro-1.png", alt="")
                        
                        .product-button-up
                            em.lnr.lnr-chevron-down
                        .product-button-down
                            em.lnr.lnr-chevron-up
                        .product-button-next
                            em.lnr.lnr-chevron-right
                        .product-button-prev
                            em.lnr.lnr-chevron-left
                .product-similar 
                    h2.f-2 sản phẩm tương tự
                    .similar-slider
                        .swiper-container 
                            .swiper-wrapper 
                                .swiper-slide 
                                    .product-item 
                                        figure 
                                            .img 
                                                img(src="./img/pro-1.png", alt="")
                                                .overlay 
                                                    a.add-cart(href="")
                                                        em.mdi.mdi-cart
                                                        | cho vào giỏ hàng 
                                                    a.view-detail(href="")
                                                        em.mdi.mdi-eye
                                                        | xem sản phẩm
                                            figcaption 
                                                a.title(href="") Dây chuyền MOSHNA P23
                                                span.price 900000 đ
                                .swiper-slide 
                                    .product-item 
                                        figure 
                                            .img 
                                                img(src="./img/pro-1.png", alt="")
                                                .overlay 
                                                    a.add-cart(href="")
                                                        em.mdi.mdi-cart
                                                        | cho vào giỏ hàng 
                                                    a.view-detail(href="")
                                                        em.mdi.mdi-eye
                                                        | xem sản phẩm
                                            figcaption 
                                                a.title(href="") Dây chuyền MOSHNA P23
                                                span.price 900000 đ
                                .swiper-slide 
                                    .product-item 
                                        figure 
                                            .img 
                                                img(src="./img/pro-1.png", alt="")
                                                .overlay 
                                                    a.add-cart(href="")
                                                        em.mdi.mdi-cart
                                                        | cho vào giỏ hàng 
                                                    a.view-detail(href="")
                                                        em.mdi.mdi-eye
                                                        | xem sản phẩm
                                            figcaption 
                                                a.title(href="") Dây chuyền MOSHNA P23
                                                span.price 900000 đ
                                .swiper-slide 
                                    .product-item 
                                        figure 
                                            .img 
                                                img(src="./img/pro-1.png", alt="")
                                                .overlay 
                                                    a.add-cart(href="")
                                                        em.mdi.mdi-cart
                                                        | cho vào giỏ hàng 
                                                    a.view-detail(href="")
                                                        em.mdi.mdi-eye
                                                        | xem sản phẩm
                                            figcaption 
                                                a.title(href="") Dây chuyền MOSHNA P23
                                                span.price 900000 đ
                        .similar-button-prev
                            em.lnr.lnr-chevron-left
                        .similar-button-next
                            em.lnr.lnr-chevron-right
            .product-info 
                h1.f-2 Dây chuyền MOSHNA P23
                p.subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum debitis magni dolore reiciendis cum, rerum voluptatem? Maxime est culpa, ducimus quia reiciendis accusamus debitis facilis ad error nobis nisi consequuntur!
                .product-attributes
                    table
                        tbody
                            tr
                                th Mã sản phẩm
                                td 170M3819
                            tr
                                th Part number
                                td Part no
                            tr
                                th Xuất xứ
                                td China
                            tr
                                th Bảo hành 
                                td 24 tháng
                .item-quantity
                    span Số lượng
                    .input-group
                        .input-group-btn
                            .qty-minus.btn-number
                                em.mdi.mdi-minus
                        input.product-details-quantity.form-control.input-number(type='text', value='1')
                        .input-group-btn
                            .qty-plus.btn-number
                                em.mdi.mdi-plus 
                a.add-cart(href="")
                    em.mdi.mdi-cart
                    | Thêm vào giỏ hàng 
                ul.social-icon
                    li
                        a.twt(href="#")
                            em.fab.fa-twitter
                    li
                        a.fb(href="#")
                            em.fab.fa-facebook-f
                    li
                        a.fax(href="#")
                            em.mdi.mdi-fax
                .tab-wrapper 
                    .tab-navigation.f-2
                        li 
                            a(data-tab='tab-1').active mô tả chi tiết 
                        li 
                            a(data-tab='tab-2') Chi tiết sử dụng 
                    .tab-content#tab-1.active 
                        ul 
                            li 
                                p Chất liệu: Bạc 925/1000 rhodium      
                            li 
                                p Trọng lượng: 5g
                            li 
                                p Kích thước: chiều dài của chuỗi: 42cm Bộ điều chỉnh: 60mm trên cùng của chiều rộng dọc: 25 mm trên cùng của chiều rộng ngang: 25 mm
                            li 
                                p Bảo hành: bảo hành 1 năm
                    .tab-content#tab-2 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quis repellendus autem exercitationem quas distinctio, odio esse fugit, ullam nisi non aspernatur quod obcaecati ea ab tempore placeat voluptatibus dicta!
        .product-other 
            h2.f-2 sản phẩm khác 
            .swiper-container 
                .swiper-wrapper 
                    .swiper-slide 
                        .product-item 
                            figure 
                                .img 
                                    img(src="./img/pro-1.png", alt="")
                                    .overlay 
                                        a.add-cart(href="")
                                            em.mdi.mdi-cart
                                            | cho vào giỏ hàng 
                                        a.view-detail(href="")
                                            em.mdi.mdi-eye
                                            | xem sản phẩm
                                figcaption 
                                    a.title(href="") Dây chuyền MOSHNA P23
                                    span.price 900000 đ
                    .swiper-slide 
                        .product-item 
                            figure 
                                .img 
                                    img(src="./img/pro-1.png", alt="")
                                    .overlay 
                                        a.add-cart(href="")
                                            em.mdi.mdi-cart
                                            | cho vào giỏ hàng 
                                        a.view-detail(href="")
                                            em.mdi.mdi-eye
                                            | xem sản phẩm
                                figcaption 
                                    a.title(href="") Dây chuyền MOSHNA P23
                                    span.price 900000 đ
                    .swiper-slide 
                        .product-item 
                            figure 
                                .img 
                                    img(src="./img/pro-1.png", alt="")
                                    .overlay 
                                        a.add-cart(href="")
                                            em.mdi.mdi-cart
                                            | cho vào giỏ hàng 
                                        a.view-detail(href="")
                                            em.mdi.mdi-eye
                                            | xem sản phẩm
                                figcaption 
                                    a.title(href="") Dây chuyền MOSHNA P23
                                    span.price 900000 đ
                    .swiper-slide 
                        .product-item 
                            figure 
                                .img 
                                    img(src="./img/pro-1.png", alt="")
                                    .overlay 
                                        a.add-cart(href="")
                                            em.mdi.mdi-cart
                                            | cho vào giỏ hàng 
                                        a.view-detail(href="")
                                            em.mdi.mdi-eye
                                            | xem sản phẩm
                                figcaption 
                                    a.title(href="") Dây chuyền MOSHNA P23
                                    span.price 900000 đ
            .other-button-prev
                em.lnr.lnr-chevron-left
            .other-button-next
                em.lnr.lnr-chevron-right


