section.tin-tuc-chi-tiet 
    .container 
        h1.title Thời trang parity: thương hiệu của chất lượng đỉnh cao
        time 1.1.2019
        .brief-content 
            p PARITY là thương hiệu của chất lượng đỉnh cao. Được sản xuất trên dây chuyền hiện đại, tất cả sản phẩm của PARITY đều được trau chuốt từng chi tiết để đem đến giá trị cao nhất cho người tiêu dùng. 
        img(src="./img/tintuc/ct-1.png", alt="")
        p Thời trang luôn được coi là hơi thở của cuộc sống hiện đại. Cùng với sự lớn mạnh của nền công nghiệp Việt Nam, nhiều chủ đầu tư, đơn vị thiết kế, đại lý phân phối,…đã coi thời trang thực sự là lĩnh vực mũi nhọn đem lại giá trị cao cho doanh nghiệp. 
        p Đó cũng chính là động lực mạnh mẽ giúp chúng tôi - Công ty TNHH Thương mại Dịch vụ Sản xuất NAHY không ngừng nỗ lực để trở thành “đối tác vàng” trên thị trường thời trang may mặc trong nước và xuất khẩu.
        p Tiền thân là Nhà may Thùy Dung được thành lập năm 1994, trải qua hơn 22 năm phát triển vẻ vang, đến nay Công ty TNHH Thương mại Dịch vụ Sản xuất NAHY đã trở thành doanh nghiệp hàng đầu Việt Nam trong lĩnh vực thiết kế thời trang và sản xuất hàng may mặc.  
        p “Chất lượng – Uy tín – Tận tâm”, đó là phương châm đã giúp Công ty TNHH Thương mại Dịch vụ Sản xuất NAHY và thương hiệu thời trang PARITY trở thành sự lựa chọn tin cậy của đông đảo khách hàng. Chúng tôi đang tiếp tục mở rộng quy mô sản xuất với trên 200 công nhân, nhiều nhà xưởng gia công với các dòng sản phẩm phong phú: đầm thời trang, veston, sơ mi, quần tây, kaki, jeans,…
        img(src="./img/tintuc/ct-2.png", alt="")
        p Thời trang luôn được coi là hơi thở của cuộc sống hiện đại. Cùng với sự lớn mạnh của nền công nghiệp Việt Nam, nhiều chủ đầu tư, đơn vị thiết kế, đại lý phân phối,…đã coi thời trang thực sự là lĩnh vực mũi nhọn đem lại giá trị cao cho doanh nghiệp. 
        p Đó cũng chính là động lực mạnh mẽ giúp chúng tôi - Công ty TNHH Thương mại Dịch vụ Sản xuất NAHY không ngừng nỗ lực để trở thành “đối tác vàng” trên thị trường thời trang may mặc trong nước và xuất khẩu.
        p Tiền thân là Nhà may Thùy Dung được thành lập năm 1994, trải qua hơn 22 năm phát triển vẻ vang, đến nay Công ty TNHH Thương mại Dịch vụ Sản xuất NAHY đã trở thành doanh nghiệp hàng đầu Việt Nam trong lĩnh vực thiết kế thời trang và sản xuất hàng may mặc.  
        p “Chất lượng – Uy tín – Tận tâm”, đó là phương châm đã giúp Công ty TNHH Thương mại Dịch vụ Sản xuất NAHY và thương hiệu thời trang PARITY trở thành sự lựa chọn tin cậy của đông đảo khách hàng. Chúng tôi đang tiếp tục mở rộng quy mô sản xuất với trên 200 công nhân, nhiều nhà xưởng gia công với các dòng sản phẩm phong phú: đầm thời trang, veston, sơ mi, quần tây, kaki, jeans,…
        ul.social-icon
            li
                a.twt(href="#")
                    em.fab.fa-twitter
            li
                a.fb(href="#")
                    em.fab.fa-facebook-f
            li
                a.fax(href="#")
                    em.mdi.mdi-fax
        .news-other 
            h1.title-h1 tin tức khác  
            .row 
                .col-md-4.item
                    .img 
                        img(src="./img/tintuc/1.png", alt="")
                    .info 
                        time 22/10/2019
                        .title
                            a(href="./chi-tiet-tin-tuc.html") THỜI TRANG PARITY: THƯƠNG HIỆU CỦA CHẤT LƯỢNG ĐỈNH CAO
                        p Muốn thành công phải làm việc miệt mài, phải yêu cái bạn đang làm dành thật nhiều thời gian và tâm huyết, dù biết rằng công việc của bạn đang làm sẽ có rất nhiều thách thức.

