.page-banner
	.swiper-slide
		a
			display: block
			height: 500px
			background-size: cover
			background-repeat: no-repeat
			background-position: center
	
	@media (max-width: 1024px)
		.swiper-slide
			a
				height: 300px
	@media (max-width: 575.9px)
		.swiper-slide
			a
				height: 200px