footer
    .container
        .top-wrapper
            .row
                .col-lg-3.ft-col
                    h3 Nahy Group
                    p Địa chỉ: 679 Le Duc Tho Street, 
                        br
                        | Go Vap Distrist, HCMC
                    p Điện thoại: 028 39163989 
                        br
                        | Mail: nahyfashion@gmail.com
                        br
                        | Website: https://nahyfashion.com.vn/
                .col-lg-3.ft-col
                    h3 Giới thiệu
                    ul
                        li
                            a(href="#") Tổng quan
                        li
                            a(href="#") Tổng quan
                        li
                            a(href="#") Tổng quan
                        li
                            a(href="#") Tổng quan
                        li
                            a(href="#") Tổng quan
                .col-lg-3.ft-col
                    h3 Giới thiệu
                    ul
                        li
                            a(href="#") Tổng quan
                        li
                            a(href="#") Tổng quan
                        li
                            a(href="#") Tổng quan
                        li
                            a(href="#") Tổng quan
                        li
                            a(href="#") Tổng quan
                .col-lg-3.ft-col
                    h3 Giới thiệu
                    ul
                        li
                            a(href="#") Tổng quan
                        li
                            a(href="#") Tổng quan
                        li
                            a(href="#") Tổng quan
                        li
                            a(href="#") Tổng quan
                        li
                            a(href="#") Tổng quan
        .bottom-wrapper
            p Copyright © 2019 NaHy Co., Ltd. All Rights Reserved. 
                a(href="https://www.canhcam.vn/thiet-ke-website") Website designed 
                | by 
                a(href="https://www.canhcam.vn") Canh Cam.
