footer 
    .footer-wrapper-bottom 
        padding: 5rem 0
        .nav 
            h4 
                font-size: 2.2rem 
                color: #333333
                text-transform: capitalize
                font-weight: 400
                margin-bottom: 3rem
            .info 
                p 
                    font-size: 1.6rem 
                    color: #666666
                    margin-bottom: 3rem
                    line-height: 1.375
                ul 
                    list-style: none 
                    line-height: 1.375
                    color: #666666
                    li 
                        font-size: 1.6rem
            nav 
                list-style: none
                li 
                    padding-left: 2rem
                    position: relative
                    &:after 
                        position: absolute 
                        content: '\f415'
                        display: block
                        top: 50% 
                        left: 0
                        transform: translateY(-50%)
                        font: normal normal normal 14px/1 Material Design Icons
                        color: #666666
                    a 
                        font-size: 1.6rem
                        font-family: "Livvic"
                        color: rgb(102, 102, 102)
                        line-height: 1.625
                        transition: all .2s ease-in-out
                    &:hover,&.active 
                        a 
                            text-decoration: underline
        @media (max-width: 768px)
            .nav:not(:last-child)
                margin-bottom: 3rem
    .copyright 
        padding: 2rem 0
        border-top: 1px solid #cccccc
        p
            color: #999999
            font-size: 1.2rem
            text-align: center
            a 
                color: #999999 
                text-decoration: none




