footer 
    .container
        .row.footer-wrapper-bottom
            .col-lg-3.col-6.nav 
                h4 Nahy group 
                .info 
                    p Địa chỉ: 679 Le Duc Tho Street, Go Vap Distrist, HCMC
                    ul
                        li Điện thoại: 028 39163989 
                        li Mail: nahyfashion@gmail.com
                        li Website: https://nahyfashion.com.vn/
            .col-lg-3.col-6.nav 
                h4 Giới thiệu 
                nav
                    li 
                        a(href="") Tổng quan
                    li 
                        a(href="") Lịch sử phát triển
                    li 
                        a(href="") Tầm nhìn - Sứ mệnh - Giá trị cốt lõi
                    li 
                        a(href="") Ban lãnh đạo
                    li 
                        a(href="") Đội ngũ nhân sự
                    li 
                        a(href="") Câu chuyện thương hiệu
                    li 
                        a(href="") Đối tác
            .col-lg-3.col-6.nav 
                h4 Chăm sóc khách hàng
                nav
                    li 
                        a(href="") Phiếu quà tặng
                    li 
                        a(href="") Hướng dẫn mua hàng
                    li 
                        a(href="") Phương thức thanh toán
                    li 
                        a(href="") Hướng dẫn chọn size
                    li 
                        a(href="") Thẻ Vip
                    li 
                        a(href="") Thời gian giao hàng
                    li 
                        a(href="") Quy định đổi trả
            .col-lg-3.col-6.nav 
                h4 Liên kết nhanh
                nav 
                    li 
                        a(href="") Giới thiệu
                    li 
                        a(href="") Lĩnh vực hoạt động
                    li 
                        a(href="") Sản phẩm
                    li 
                        a(href="") Hệ thống cửa hàng
                    li 
                        a(href="") Khách hàng doanh nghiệp
                    li 
                        a(href="") Liên hệ
        .copyright 
            p Copyright © 2019 NaHy Co., Ltd. All Rights Reserved. Designed by 
                span 
                    a(href="https://canhcam.vn") Cánh Cam.
