.scroll-top
    em.lnr.lnr-chevron-up
    p đầu trang
.footer-top(setBackground="./img/footer-top.png")
    .container
        .row 
            .col-md-4.text
                h4 Đăng ký nhận bản tin 
                p Cơ hội cập nhật kịp thời những bài viết mới nhất trên blog, các dự án nổi bật và thông tin từ Nahy
            .col-md-5 
                .form
                    input(type="text") 
                    button 
                        em.mdi.mdi-trending-neutral
            .col-md-3 
                h4 Theo dõi chúng tôi 
                ul.social-icon
                    li 
                        a.fb(href="") 
                            em.mdi.mdi-facebook-box
                    li 
                        a.in(href="") 
                            em.mdi.mdi-instagram
                    li 
                        a.yt(href="") 
                            em.mdi.mdi-youtube
                    li 
                        a.twt(href="") 
                            em.mdi.mdi-twitter
                    
