header
    .container
        .main-wrapper
            .left-wrapper
                .logo-wrapper
                    a(href="/")
                        img(src="./img/logo.png", alt="")
            .right-wrapper
                .top-wrapper.livvic
                    .sub-list-wrapper
                        ul.livvic
                            li
                                a(href="#") Chăm sóc khách hàng
                            li
                                a(href="#") Tuyển dụng
                            li
                                a(href="#") Tin tức
                    .language-wrapper
                        .language-active VN
                            em.lnr.lnr-chevron-down
                        .language-list
                            a(href="#") VN
                            a(href="#") EN
                    .searchicon
                        em.lnr.lnr-magnifier
                    .user-wrapper
                        em.lnr.lnr-user
                    .cart-wrapper
                        em.lnr.lnr-cart
                        span 05
                    .open-side-menu
                        span
                .bottom-wrapper
                    .main-list-wrapper
                        ul.playfair
                            li
                                a(href="#") Giới thiệu
                            li
                                a(href="#") Lĩnh vực hoạt động
                            li
                                a(href="#") Sản phẩm
                            li
                                a(href="#") Hệ thống cửa hàng
                            li
                                a(href="#") Khách hàng doanh nghiệp
                            li
                                a(href="#") Liên hệ
    .search-wrapper
        .close-button
            em.lnr.lnr-cross
        .container
            .searchbox
                input(type="text" placeholder='Search ...')
                button(type='submit') Search
    .backdrop-wrapper
    .side-menu
        .heading
            .logo-wrapper
                a(href="/")
                    img(src="./img/logo.png", alt="")
            .close-button
                em.lnr.lnr-cross