section.home-6
    .container
        h2.nahy-title.center.mb-3.mb-lg-4 Đối tác
        .list-item
            .row.no-gutters
                -for(i=0;i<10;i++)
                    .col-sm-4.col-md-3.item
                        .image
                            img(src="./img/home/img-8.png", alt="")