section.san-pham-ds.nahy-section
    .container
        .row
            .col-lg-3
                .filter-wrapper
                    .categories-wrapper
                        .heading
                            h3.playfair Thời trang
                        .list-item
                            .item
                                .item-heading Sản phẩm mới
                                ul  
                                    li
                                        a(href="#") Áo sơmi
                                    li
                                        a(href="#") Quần tây
                                    li
                                        a(href="#") Veston nam
                                    li
                                        a(href="#") Áo thun nam
                                    li
                                        a(href="#") Polos
                                    li
                                        a(href="#") Áo khoác
                            .item
                                .item-heading Thời trang nam
                                ul  
                                    li
                                        a(href="#") Áo sơmi
                                    li
                                        a(href="#") Quần tây
                                    li
                                        a(href="#") Veston nam
                                    li
                                        a(href="#") Áo thun nam
                                    li
                                        a(href="#") Polos
                                    li
                                        a(href="#") Áo khoác
                            .item
                                .item-heading Thời trang nữ
                                ul  
                                    li
                                        a(href="#") Áo sơmi
                                    li
                                        a(href="#") Quần tây
                                    li
                                        a(href="#") Veston nam
                                    li
                                        a(href="#") Áo thun nam
                                    li
                                        a(href="#") Polos
                                    li
                                        a(href="#") Áo khoác