section.tuyen-dung 
    .container
        .main-content
            h1.title-h1.f-2 tuyển dụng
            .row.item.item--2
                .col-md-6
                    .content
                        h3.playfair Tại sao nên chọn Nahy ?
                        p Được coi là một trong 4 thế mạnh cốt lõi cho sự phát triển bền vững, chính sách nhân sự luôn được NaHy quan tâm hàng đầu.
                        p Công Ty xây dựng một chính sách nhân sự ưu việt, những chế độ phúc lợi đặc biệt nhằm thu hút và gìn giữ đội ngũ nhân sự chuyên nghiệp, năng động, sáng tạo, nhiệt huyết, có chuyên môn giỏi để cùng đưa Công Ty trở thành doanh nghiệp phân phối các sản phẩm thời trang chất lượng quốc tế số 1 Việt Nam.
                        p Gia nhập NaHy, bạn được làm việc trong môi trường năng động, chuyên nghiệp cùng đội ngũ nhân viên trẻ, nhiệt huyết và am hiểu thị hiếu khách hàng cũng như thị trường thời trang cao cấp.
                .col-md-6
                    .image
                        img(src="./img/td-1.png", alt="")
            .row.item.item--2
                .col-md-6
                    .content
                        h3.playfair Quyền lợi nhân viên
                        p Con người là tài sản quý giá nhất của Công Ty. Việc đầu tư về chính sách nhân sự được NaHy quan tâm hàng đầu và được xem là vấn đề đầu tư mang lại nhiều hiệu quả.
                        p Chính vì thế, khi làm việc tại NaHy, bạn sẽ nhận được mức lương tương xứng với năng lực và cạnh tranh so với thị trường. Ngoài ra, để khích lệ động viên tích cực nhân viên làm việc, tiền thưởng là yếu tố thúc đẩy nhằm tối đa hóa khả năng hoàn thành mục tiêu công việc. Khi đạt được kết quả theo mục tiêu Công Ty mong đợi, bạn sẽ được hưởng các mức thưởng hấp dẫn phù hợp với năng lực từng cá nhân. Nếu bạn là thành viên xuất sắc, Công Ty sẽ tạo điều kiện để bạn phát triển nghề nghiệp.

                .col-md-6
                    .image
                        img(src="./img/td-2.png", alt="")
section.join-job
    .container
        .row
            .col
                .Module.Module-252
                    .ModuleContent
                        h2.title.f-2 Bạn muốn gia nhập vào NaHy ?
                        .desc
                            p Hãy dành cho bạn một cơ hội và gắn kết với một đột ngũ chuyên nghiệp
                            br 
                            | bằng các cơ hội việc làm bên dưới

                        .link
                            a.f-3(href='javascript:void(0)') Ứng tuyển ngay
section.ds-tuyen-dung 
    .container
        .row
            .col
                h1.title-h1.f-2 các vị trí tuyển dụng
        .row
            .col
                .main-table
                    table
                        thead
                            tr
                                th.title Vị trí 
                                th Số lượng
                                th Địa điểm 
                                th Hạn nộp
                                
                        tbody
                            tr
                                td.title 01
                                td Nhân viên sale
                                td Khu vực TPHCM
                                td 2
                            tr
                                td.title 02
                                td Nhân viên mua hàng (Biết Tiếng Trung)
                                td Khu vực TPHCM
                                td 2
                                
                            tr
                                td.title 03
                                td Nhân viên Marketing
                                td Khu vực TPHCM
                                td 2
                                
                            tr
                                td.title 04
                                td Nhân viên Kỹ Thuật
                                td Khu vực TPHCM
                                td 2
                                
                            tr
                                td.title 05
                                td Kế toán nội bộ
                                td Khu vực TPHCM
                                td 2
                                
