section.contact-information
	h1.title-h1.f-2 liên hệ
	.container
		.row
			.col-lg-4
				.contact-information-wrapper(setBackground="./img/lienhe-bg.png")
					.row
						.col-12
							a.logo(href="/") 
								img(src="./img/logo-nahy.png", alt="")
						.col-12
							nav.info 
								li
									.lh
										em.lnr.lnr-map-marker
										p 679 Le Duc Tho Street, Go Vap Distrist, HCMC
								li
									.lh
										em.lnr.lnr-earth
										p https://nahyfashion.com.vn/
								li
									.lh
										em.lnr.lnr-earth
										p https://nahyfashion.com.vn/
			.col-lg-8.form-wrapper
				
							
		.maps 
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4728.9925961035515!2d108.02248769180962!3d12.674624128339799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31721d9f5979e761%3A0x7302421dfb9931c5!2zTWFpIFh1w6JuIFRoxrDhu59uZywgVGjDoG5oIE5o4bqldCwgVHAuIEJ1w7RuIE1hIFRodeG7mXQsIMSQ4bqvayBM4bqvaywgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1567018266827!5m2!1sen!2s" width="1250" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
