section.nahy-navigation
    .container
        ul
            li.active
                a(href="javascript:void(0)") Thời trang
            li
                a(href="javascript:void(0)") Trang sức
            li
                a(href="javascript:void(0)") Xây dụng
section.xay-dung.nahy-section
    .container
        h1.nahy-title.center.mb-3.mb-lg-4 Xây dụng
        .top-wrapper
            .row
                .col-lg-6
                    .item.top-item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/xay-dung/1.png", alt="")
                                figcaption
                                    h5.playfair D’ Edge Thao Dien (Sensation)
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, scrambled it to make a type specimen book. 
                .col-lg-6
                    .item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/xay-dung/1.png", alt="")
                                figcaption
                                    h5.playfair D’ Edge Thao Dien (Sensation)
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                    .item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/xay-dung/1.png", alt="")
                                figcaption
                                    h5.playfair D’ Edge Thao Dien (Sensation)
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, scrambled it to make a type specimen book. 
                    .item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/xay-dung/1.png", alt="")
                                figcaption
                                    h5.playfair D’ Edge Thao Dien (Sensation)
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, scrambled it to make a type specimen book.
        .bottom-wrapper.mt-lg-3
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/xay-dung/1.png", alt="")
                        figcaption
                            h5.playfair D’ Edge Thao Dien (Sensation)
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, scrambled it to make a type specimen book. 
                            span Xem thêm
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/xay-dung/1.png", alt="")
                        figcaption
                            h5.playfair D’ Edge Thao Dien (Sensation)
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, scrambled it to make a type specimen book. 
                            span Xem thêm
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/xay-dung/1.png", alt="")
                        figcaption
                            h5.playfair D’ Edge Thao Dien (Sensation)
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, scrambled it to make a type specimen book. 
                            span Xem thêm
            .item
                a(href="#")
                    figure
                        .image
                            img(src="./img/xay-dung/1.png", alt="")
                        figcaption
                            h5.playfair D’ Edge Thao Dien (Sensation)
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, scrambled it to make a type specimen book. 
                            span Xem thêm