section.xay-dung-ct.nahy-section
    .container
        .information-wrapper
            .row(style='justify-content: center')
                .col-lg-10
                    h1.nahy-title.mb-2 D’ Edge Thao Dien (Sensation)
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, scrambled it to make a type specimen book. 
                    p – Chủ đầu tư: Công ty TNHH Capitaland - Thanh Niên
                        br
                        | – Vị trí: Đường Nguyễn Văn Hưởng, Phường Thảo Điền, Quận 2, Tp.HCM
                        br
                        | - Quy mô: Dự án D’Edge gồm 2 tòa tháp cao 22 tầng AIRE và BREZE.
                        br
                        | – Tổng số căn hộ: 273 căn
                        br
                        | - 70 tiện ích chăm sóc sức khỏe và tinh thần
                        br
                        | - Chỗ đậu xe 1:1
                        br
                        | - Sở hữu lâu dài; Bàn giao năm 2020
                    .slider.mt-3.mt-lg-4
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .image
                                        img(src="./img/xay-dung/1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/xay-dung/1.png", alt="")
                                .swiper-slide
                                    .image
                                        img(src="./img/xay-dung/1.png", alt="")
                        .swiper-navigation.mt-3.mt-lg-0
                            .swiper-prev
                                em.lnr.lnr-chevron-left
                            .swiper-next
                                em.lnr.lnr-chevron-right
        .other-wrapper
            h3.nahy-title.center.mb-3.mb-lg-4 Dự án khác
            .row
                .col-lg-4
                    .item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/xay-dung/1.png", alt="")
                                figcaption
                                    h4.playfair Rivera park saigon
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                .col-lg-4
                    .item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/xay-dung/1.png", alt="")
                                figcaption
                                    h4.playfair Rivera park saigon
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                .col-lg-4
                    .item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/xay-dung/1.png", alt="")
                                figcaption
                                    h4.playfair Rivera park saigon
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.