.col-lg-3.side-menu-wrapper
	.product-nav-list
		nav.cate
			.head
				h4.f-2.f-2 trang sức
			ul.menu-list
				li.has-submenu
					a(href="#") Trẻ em
					ul.submenu
						li
							a(href="#") Sub 1
						li
							a(href="#") Sub 2
						li
							a(href="#") Sub 3
				li.has-submenu
					a(href="#") Công sở
					ul.submenu
						li
							a(href="#") Sub 1
						li
							a(href="#") Sub 2
						li
							a(href="#") Sub 3
				li.has-submenu
					a(href="#") Du lịch
					ul.submenu
						li
							a(href="#") Sub 1
						li
							a(href="#") Sub 2
						li
							a(href="#") Sub 3
				li.has-submenu
					a(href="#") Sản phẩm thời trang
					ul.submenu
						li
							a(href="#") Sub 1
						li
							a(href="#") Sub 2
						li
							a(href="#") Sub 3
	.product-filter-list
		.side-menu-option
			h4.f-2 chất liệu chính
			ul.filter-list
				- for(i=0;i<5;i++)
					li.checkbox
						a(href="javascript:void(0)") Bạc
		.side-menu-option
			h4.f-2 Màu sắc
			ul.filter-list
				- for(i=0;i<20;i++)
					li.color
						span(style="background-color: red")
						a(href="#") Màu sắc