section.home-4.nahy-section
    .container
        h2.nahy-title.center.mb-3.mb-lg-4 Truyền thống
        .list-item.livvic
            .row
                .col-lg-9
                    .row
                        .col-lg-8
                            .video-wrapper(setBackground='./img/home/bg-1.png')
                                h4 Giới thiệu NaHy
                                p Trải qua hơn 20 năm phát triển vẻ vang, đến nay Công ty TNHH Thương mại Dịch vụ Sản xuất NAHY đã trở thành doanh nghiệp hàng đầu Việt Nam trong lĩnh vực thiết kế thời trang và sản xuất hàng may mặc.
                                a(href="#")
                                    img(src="./img/play.png", alt="")
                        .col-lg-4
                            .center-wrapper
                                .text
                                    h5 Hệ thống phân phối
                                    p Hệ thống showroom với hơn 200 cửa hàng tại các siêu thị và trung tâm thương mại  khắp cả nước.
                                .image
                                    img(src="./img/home/img-5.png", alt="")
                    .row
                        .col
                            .bottom-wrapper
                                .row
                                    .col-lg-4
                                        a(href="#")
                                            .item(setBackground='./img/home/bg-2.png')
                                                h5.white Câu chuyện thương hiệu
                                                p Luôn coi khách hàng là trung tâm, không ngừng sáng tạo và đổi mới trong hoạt động sản xuất kinh doanh.
                                                em.lnr.lnr-arrow-right
                                                .ic
                                                    img(src="./img/home/ic-1.png", alt="")
                                    .col-lg-4
                                        a(href="#")
                                            .item(setBackground='./img/home/bg-2.png')
                                                h5.white Câu chuyện thương hiệu
                                                p Tổng Công ty Cổ phần May Nhà Bè, Thời trang Jeep, Thời trang Saveus (Australia), Metro Cash& Carry Việt Nam, Koshin (Japan).
                                                em.lnr.lnr-arrow-right
                                                .ic
                                                    img(src="./img/home/ic-1.png", alt="")
                                    .col-lg-4
                                        a(href="#")
                                            .item(setBackground='./img/home/bg-2.png')
                                                h5.white Câu chuyện thương hiệu
                                                p Luôn coi khách hàng là trung tâm, không ngừng sáng tạo và đổi mới trong hoạt động sản xuất kinh doanh.
                                                em.lnr.lnr-arrow-right
                                                .ic
                                                    img(src="./img/home/ic-1.png", alt="")
                .col-lg-3
                    .right-wrapper
                        .heading
                            h5 Tin tức công ty
                        .list-item
                            .item.top-item
                                a(href="#")
                                    figure
                                        .image
                                            img(src="./img/home/img-6.png", alt="")
                                        figcaption
                                            time 28.08.2019
                                            p.title Thời trang Parity khai trương showroom tại TTTM Trần Duy Hưng - Hà Nội
                                            p.des Ngày 26/4, vừa qua công ty TNHH Thương mại, Dịch vụ và Sản xuất... Nahy đã tổ chức khai trương Showroom thời trang Parity tại trung tâm thương mại Vincom Trần Duy Hưng, Hà Nội.
                            .item
                                a(href="#")
                                    figure
                                        figcaption
                                            time 28.08.2019
                                            p.title Thời trang Parity khai trương showroom tại TTTM Trần Duy Hưng - Hà Nội
                            .item
                                a(href="#")
                                    figure
                                        figcaption
                                            time 28.08.2019
                                            p.title Thời trang Parity khai trương showroom tại TTTM Trần Duy Hưng - Hà Nội
                        .view-more-button
                            a(href="#")
                                em.lnr.lnr-arrow-right