section.chi-tiet-khach-hang 
    .container 
        h1.f-2 Thời trang Parity: thương hiệu của chất lượng đỉnh cao
        .full-content 
            p Quy trình sản xuất tại nhà máy được phân chia theo từng công đoạn cụ thể, sắp xếp một cách khoa học, lược bỏ những công đoạn thừa, đảm bảo được năng suất  và tạo ra những sản phẩm đạt chuẩn.
            p Đội ngũ công nhân lành nghề và chuyên chú trong từng phân đoạn, cùng với hệ thống máy móc trang thiết bị tự động, tiên tiến, An Phước luôn tự tin đưa ra thị trường những thành phẩm sắc sảo và tinh tế.
        .slider 
            .swiper-container 
                .swiper-wrapper 
                    .swiper-slide 
                        img(src="./img/khct-1.png", alt="")
                    .swiper-slide 
                        img(src="./img/khct-2.png", alt="")
                    .swiper-slide 
                        img(src="./img/khct-1.png", alt="")
            .swiper-navigation
                .ctkh-button-prev
                    em.lnr.lnr-chevron-left
                .ctkh-button-next
                    em.lnr.lnr-chevron-right
