.ctkh-navigation 
    ul 
        li 
            a(href="")  Hệ thống nhà máy 
        li 
            a(href="") Cơ sở vật chất
        li 
            a(href="") Quy trình kiểm soát chất lượng
        li 
            a(href="") dây chuyền sản xuất
        li 
            a(href="") chứng nhận chất lượng
    .container.select
        .custom-select
            select
                option(value="1") Danh mục
                option(value="2") Hệ thống nhà máy
                option(value="3") Hệ thống nhà máy