section.nahy-navigation
    .container
        ul
            li
                a(href="javascript:void(0)") Lịch sử phát triển
            li
                a(href="javascript:void(0)") Tầm nhìn - sứ mệnh - Giá trị cốt lõi
            li
                a(href="javascript:void(0)") Ban lãnh đạo
            li
                a(href="javascript:void(0)") Đội ngũ nhân sự
            li
                a(href="javascript:void(0)") Câu chuyện thương hiệu
            li
                a(href="javascript:void(0)") Đối tác
section.gioi-thieu-1.nahy-section
    .container
        h1.nahy-title.center.mb-3 Lịch sử phát triển
        p.nahy-description Tiền thân là nhà may Thùy Dung được thành lập năm 1994, trải qua 25 năm không ngừng phát triển, đến nay NAHY GROUP đã trở thành một trong những doanh nghiệp hàng đầu Việt Nam trong lĩnh vực thiết kế thời trang và sản xuất hàng may mặc, phân phối trang sức và xây dựng.
        .content-wrapper.mt-4
            .row
                .col-lg-6
                    .image-wrapper
                        img(src="./img/gioi-thieu/img-1.png", alt="")
                .col-lg-6
                    .text-wrapper
                        p Trong lĩnh vực thời trang, NAHY Group sở hữu chuỗi hàng chục cửa hàng thời trang Parity trên toàn quốc, tọa lạc tại các trung tâm thương mại lớn như Vincom, Aeon, Parkson…sản phẩm thời trang Parity đã được đông đảo người tiêu dùng biết đến và lựa chọn.
                        p Trong lĩnh vực thời trang, NAHY Group sở hữu chuỗi hàng chục cửa hàng thời trang Parity trên toàn quốc, tọa lạc tại các trung tâm thương mại lớn như Vincom, Aeon, Parkson…sản phẩm thời trang Parity đã được đông đảo người tiêu dùng biết đến và lựa chọn.
                        .full-content
                            p Ngoài các trang phục thời trang, NAHY Group còn nhập khẩu và phân phối các mặt hàng trang sức của các nhãn hiệu trang sức  nổi tiếng Châu Âu, Hàn quốc . Với các mẫu thiết kế tinh tế, hoàn hảo, lạ mắt và vô cùng sang trọng, các sản phẩm trang sức là một phần không thể thiếu mang lại vẻ đẹp hoàn hảo cho khách hàng ưa chuộng sản phẩm Parity.
        .list-item-wrapper
            .row
                .col-lg-4.item
                    figure
                        .image
                            img(src="./img/gioi-thieu/img-2.png", alt="")
                        figcaption
                            .ic
                                img(src="./img/gioi-thieu/ic-1.png", alt="")
                            h5.playfair Tầm nhìn
                            p Phát triển bền vững, nâng tầm doanh nghiệp và sản phẩm cung ứng ra thị trường quốc tế
                .col-lg-4.item
                    figure
                        .image
                            img(src="./img/gioi-thieu/img-2.png", alt="")
                        figcaption
                            .ic
                                img(src="./img/gioi-thieu/ic-1.png", alt="")
                            h5.playfair Tầm nhìn
                            p Tôn vinh khả năng lao động và sáng tạo của từng nhân viên để những đóng góp của họ với công ty và xã hội ngày càng trở nên tuyệt vời và đáng khích lệ 
                .col-lg-4.item
                    figure
                        .image
                            img(src="./img/gioi-thieu/img-2.png", alt="")
                        figcaption
                            .ic
                                img(src="./img/gioi-thieu/ic-1.png", alt="")
                            h5.playfair Tầm nhìn
                            p Phát triển bền vững, nâng tầm doanh nghiệp và sản phẩm cung ứng ra thị trường quốc tế
section.gioi-thieu-2.nahy-section
    .container
        h1.nahy-title.center.mb-3.mb-lg-4 ban lãnh đạo
        .image-wrapper
            img(src="./img/gioi-thieu/img-3.png", alt="" style='width: 100%')
section.gioi-thieu-3.nahy-section
    .container
        h1.nahy-title.center.mb-3.mb-lg-4 ban lãnh đạo
        .image-wrapper
            img(src="./img/gioi-thieu/img-4.png", alt="" style='width: 100%')
        .content-wrapper.mt-3.mt-lg-5
            .text
                p Với đội ngũ 500 cán bộ công nhân viên, NAHY Group là một tập đoàn gồm 3 công ty trực thuộc: 
                    br
                    | - Công ty TM DV SX Nahy
                    br
                    | - Công ty CP Vàng bạc Đá quý Nahy
                    br
                    | - Công ty CP Đầu tư Xây dựng Nahy
                p Hiện tại, Nahy Group đang triển khai dự án Nhà máy may thông minh tại Quảng Nam. Dự án này được đầu tư dây chuyền may công nghệ hiện đại phục vụ cho các sản phẩm xuất khẩu.
        .image-list-wrapper.mt-3.mt-lg-5
            .row
                .col-lg-4
                    .image
                        img(src="./img/gioi-thieu/img-5.png", alt="")
                .col-lg-4
                    .image
                        img(src="./img/gioi-thieu/img-5.png", alt="")
                .col-lg-4
                    .image
                        img(src="./img/gioi-thieu/img-5.png", alt="")
section.gioi-thieu-4.nahy-section
    .container
        h1.nahy-title.center.mb-3 CÂU CHUYỆN THƯƠNG HIỆU
        p.nahy-description Hành trình gần ba mươi năm phát triển của NAHY Group xuất phát đầu tiên từ ước mơ cháy bỏng của Nhà sáng lập kiêm Tổng Giám đốc- Nữ Doanh nhân Phạm Thị Thùy Dung là cống hiến cho người Việt những sản phẩm may mặc thuần Việt, chất lượng cao với kim chỉ nam là con người ai cũng có quyền được làm đẹp . Và thương hiệu thời trang Parity đã ra đời từ đó.
        .list-wrapper.mt-3.mt-lg-4
            .wrapper
                .image-wrapper
                    img(src="./img/gioi-thieu/img-6.png", alt="")
                .content-wrapper
                    p Từ một xưởng gia công hàng xuất khẩu và các sản phẩm chất lượng cao cho các hãng thời trang nổi tiếng, quá trình tích lũy kinh nghiệm và luôn đổi mới sang tạo đã thôi thúc chị Phạm Thị Thùy Dung thành lập Công ty TNHH TM DV SX Nahy vào năm 2014. Từ đó đến nay, với tốc độ phát triển tăng gấp đôi mỗi năm , thời trang Parity đã có mặt tại hầu khắp các tỉnh thành ở các TTTM lớn và uy tín như Vincom, Aeon, Vạn Hạnh….với số lượng 50 cửa hàng.
                    p Với thế mạnh đi lên từ sản xuất, có đội ngũ thiết kế năng động và sang tạo, làm chủ các kệnh phân phối, các sản phẩm thời trang Parity đã có được sự yêu mến của người tiêu dùng nhờ mẫu mã và kiểu dáng đa dạng, hợp thời trang, chất lượng cao phù hợp với người Việt.
            .wrapper
                .image-wrapper
                    img(src="./img/gioi-thieu/img-6.png", alt="")
                .content-wrapper
                    p Từ một xưởng gia công hàng xuất khẩu và các sản phẩm chất lượng cao cho các hãng thời trang nổi tiếng, quá trình tích lũy kinh nghiệm và luôn đổi mới sang tạo đã thôi thúc chị Phạm Thị Thùy Dung thành lập Công ty TNHH TM DV SX Nahy vào năm 2014. Từ đó đến nay, với tốc độ phát triển tăng gấp đôi mỗi năm , thời trang Parity đã có mặt tại hầu khắp các tỉnh thành ở các TTTM lớn và uy tín như Vincom, Aeon, Vạn Hạnh….với số lượng 50 cửa hàng.
                    p Với thế mạnh đi lên từ sản xuất, có đội ngũ thiết kế năng động và sang tạo, làm chủ các kệnh phân phối, các sản phẩm thời trang Parity đã có được sự yêu mến của người tiêu dùng nhờ mẫu mã và kiểu dáng đa dạng, hợp thời trang, chất lượng cao phù hợp với người Việt.