section.list-showroom
    .container 
        h1.title-h1.f-2 hệ thống showroom
        .wrapper
            .nav-wrapper 
                .nav-top
                    .showroom-search 
                        input(type="text" placeholder="Tìm kiếm")
                    .select-1 
                        select 
                            option(value="") Chọn tỉnh / Thành phố
                    .select-2
                        select 
                            option(value="") Chọn tỉnh / huyện
                .list-map-item
                    .item.active
                            h2 Vincom Plaza Skylake Phạm Hùng
                            p
                                em.mdi.mdi-map-marker
                                span L1-08, Phạm Hùng, Mỹ Đình, Nam Từ Liêm, Tp. Hà Nội.
                    .map-iframe.hidden
                        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.193510101188!2d106.6812962!3d10.7884439!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2895e1477df2be0!2zQ8O0bmcgdHkgVE5ISCBUTSBEViBDaMOidSBWxKluaCBDxrDhu51uZw!5e0!3m2!1svi!2s!4v1571281841004!5m2!1svi!2s" width="600" height="640" frameborder="0" style="border:0;" allowfullscreen="")
            #showroom-map.map
                iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.193510101188!2d106.6812962!3d10.7884439!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2895e1477df2be0!2zQ8O0bmcgdHkgVE5ISCBUTSBEViBDaMOidSBWxKluaCBDxrDhu51uZw!5e0!3m2!1svi!2s!4v1571281841004!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="")

        
       



