.home-3
    padding-bottom: 0
    padding-top: 30px
    @media(min-width: 1025px)
        padding-bottom: 20px
    .right-wrapper
        height: 100%
    .image
        margin-bottom: 30px
        position: relative
        overflow: hidden
        &:before
            position: absolute
            top: 0
            left: -75%
            z-index: 2
            display: block
            content: ''
            width: 50%
            pointer-events: none
            height: 100%
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%)
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%)
            -webkit-transform: skewX(-25deg)
            transform: skewX(-25deg)
        img
            width: 100%
            transition: .4s ease-in-out all
        &:hover
            &:before
                animation: shine 1.5s
                @-webkit-keyframes shine
                    100%
                        left: 125%
                @keyframes shine
                    100%
                        left: 125%
    @media(min-width: 1025px)
        .big-image
            img
                height: 360px
        .small-image
            img
                height: 180px
        .right-wrapper
            .row:nth-child(2)
                height: calc(100% - 210px)
        .last-image
            height: calc(100% - 30px)
            img
                height: 100%
    @media(min-width: 1200px)
        .big-image
            img
                height: 450px
        .small-image
            img
                height: 225px
        .right-wrapper
            .row:nth-child(2)
                height: calc(100% - 255px)
        .last-image
            height: calc(100% - 30px)
            img
                height: 100%