section.home-3.nahy-section
    .container
        h2.nahy-title.center.mb-3.mb-lg-4 Sản phẩm
        .row
            .col-lg-8
                .left-wrapper
                    .row
                        .col-12
                            .image.big-image
                                a(href="#")
                                    img(src="./img/home/img-2.png", alt="")
                    .row
                        .col-sm-6
                            .image
                                a(href="#")
                                    img(src="./img/home/img-3.png", alt="")
                        .col-sm-6
                            .image
                                a(href="#")
                                    img(src="./img/home/img-3.png", alt="")
            .col-lg-4
                .right-wrapper
                    .row
                        .col-12
                            .image.small-image
                                a(href="#")
                                    img(src="./img/home/img-3.png", alt="")
                    .row
                        .col-12
                            .image.last-image
                                a(href="#")
                                    img(src="./img/home/img-4.png", alt="")