extends _layout.pug

block var
	- var title = 'Tuyển dụng'
	- var bodyClass = 'tuyen-dung-page'

block main
	include ../components/_global/banner.pug
	include ../components/_global/breadcrumb.pug
	include ../components/tuyen-dung/index.pug
	include ../components/_global/footer-top.pug
	
	