section.nahy-navigation
    .container
        ul
            li.active
                a(href="javascript:void(0)") Thời trang
            li
                a(href="javascript:void(0)") Trang sức
            li
                a(href="javascript:void(0)") Xây dụng
.linh-vuc-hoat-dong-ct.nahy-section
    .container
        h2.nahy-title.center.mb-2.has-logo Thời trang
            img(src="./img/linh-vuc-hoat-dong/logo-1.png", alt="")
        p.nahy-description Các mẫu thời trang thiết kế chuyên về dòng thời trang ứng dụng cao cấp với hàng ngàn sản phẩm có sẵn tại cửa hàng. Ngoài các trang phục thời trang, NAHY Group còn nhập khẩu và phân phối các mặt hàng trang sức của các nhãn hiệu trang sức  nổi tiếng Châu Âu, Hàn quốc . Với các mẫu thiết kế tinh tế, hoàn hảo, lạ mắt và vô cùng sang trọng.
        .list-wrapper.mt-3.mt-lg-4
            .row
                .col-lg-6.item
                    figure
                        .image
                            a(href="#")
                                img(src="./img/linh-vuc-hoat-dong/img-2.png", alt="")
                        figcaption
                            p
                                a(href="#") Thiết kế thời trang- may đo từng trang phục.
                .col-lg-6.item
                    figure
                        .image
                            a(href="#")
                                img(src="./img/linh-vuc-hoat-dong/img-2.png", alt="")
                        figcaption
                            p
                                a(href="#") Thiết kế thời trang- may đo từng trang phục.
                .col-lg-4.item
                    figure
                        .image
                            a(href="#")
                                img(src="./img/linh-vuc-hoat-dong/img-2.png", alt="")
                        figcaption
                            p
                                a(href="#") Thiết kế thời trang- may đo từng trang phục.
                .col-lg-4.item
                    figure
                        .image
                            a(href="#")
                                img(src="./img/linh-vuc-hoat-dong/img-2.png", alt="")
                        figcaption
                            p
                                a(href="#") Thiết kế thời trang- may đo từng trang phục.
                .col-lg-4.item
                    figure
                        .image
                            a(href="#")
                                img(src="./img/linh-vuc-hoat-dong/img-2.png", alt="")
                        figcaption
                            p
                                a(href="#") Thiết kế thời trang- may đo từng trang phục.