section.cham-soc-khach-hang
    .container 
        .row 
            .col-lg-3.box-left
                .head.f-2
                    h2 Chăm sóc khách hàng
                ul.list-item
                    li
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    li
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    li
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    li
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
            .col-lg-9.contain
                h3 Chính sách đổi trả
                p 
                    strong Quy định đổi hàng online
                p.cata 1.Chính sách áp dụng:
                    ul 
                        li
                            p Quản lý hệ thống lưu trữ hồ sơ và qui trình chuẩn.

                        li 
                            p Quản lý hệ thống lưu trữ hồ sơ (bản cứng và bản mềm) của Công ty/Tập đoàn.

                        li 
                            p Áp dụng 01 lần đổi/01 đơn hàng.

                        li 
                            p Không áp dụng đổi với sản phẩm phụ kiện.

                        li 
                            p Sản phẩm nguyên giá được đổi sang sản phẩm nguyên giá khác còn hàng tại website có giá trị bằng hoặc lớn hơn (KH bù thêm chênh lệch nếu lớn hơn).

                        li 
                            p Không áp dụng đổi sản phẩm giảm giá.
                p.cata 2.Điều kiện đổi sản phẩm:
                    ul
                        li 
                            p Đổi hàng trong vòng 07 ngày kể từ ngày khách hàng nhận được sản phẩm.

                        li 
                            p Sản phẩm còn nguyên tem, mác và chưa qua sử dụng.
                
                p 
                    strong Quy định đổi sản phẩm mua tại cừa hàng:
                p.cata 1.Điều kiện đổi trả hàng: 
                    ul
                        li 
                            p Thời gian đổi hàng trong vòng 7 ngày kể từ ngày mua hàng.

                        li 
                            p Hàng đổi phải còn nguyên tem, nhãn mác, chưa qua sử dụng và có hóa đơn mua hàng kèm theo.

                        li 
                            p Phải còn hóa đơn mua hàng.

                        li 
                            p Khách hàng được đổi sản phẩm theo yêu cầu kích cỡ hoặc kiểu dáng hoặc do lỗi sản xuất.

                        li 
                            p - Hàng đổi chỉ áp dụng với các sản phẩm nguyên giá hàng. Không đổi sản phẩm giảm giá bán trong chương trình khuyến mãi.

                p.cata 2.Giá trị hàng đổi:
                    ul
                        li 
                            p Sản phẩm đổi phải có giá trị tương đương hoặc cao hơn giá trị hàng đã mua trước đó.
                        li 
                            p Trường hợp nếu sản phẩm đổi thấp hơn hàng thì sẽ không hoàn lại tiền.
                p.cata 3. Những trường hợp từ chối đổi hàng:
                    ul
                        li 
                            p Không đáp ứng các điều kiện hàng như đã nêu trên.

                        li 
                            p Sản phẩm đã qua sử dụng, còn nguyên tem mác nhưng có dấu hiệu bị bẩn, bị trầy xước, các phụ kiện của sản phẩm không còn đầy đủ hoặc bị hư hại do các tác nhân bên ngoài cửa hàng sau khi mua. nhiệm vụ khác theo chức năng nhiệm vụ và theo yêu cầu của cấp trên.
                .note 
                    p Trong trường hợp Quý Khách hàng có ý kiến đóng góp/khiếu nại liên quan đến chất lượng sản phẩm, Quý Khách hàng vui lòng liên hệ đường dây chăm sóc khách hàng của chúng tôi.
                    
                        
            
                    
                        


