section.khach-hang 
    .container 
        h1.title-h1.f-2 khách hàng doanh nghiệp
        .list-item.clearfix
            .item.item--1 
                .img
                    img(src="./img/kh-1.png", alt="")
                    a.title(href="") Hệ thống nhà máy
            .item.item--2
                .img
                    img(src="./img/kh-2.png", alt="")
                    a.title(href="") Hệ thống nhà máy
            .item.item--3
                .img
                    img(src="./img/kh-3.png", alt="")
                    a.title(href="") Hệ thống nhà máy
            .item.item--4
                .img
                    img(src="./img/kh-4.png", alt="")
                    a.title(href="") Hệ thống nhà máy
            .item.item--5
                .img
                    img(src="./img/kh-5.png", alt="")
                    a.title(href="") Hệ thống nhà máy
            

