section.home-2.nahy-section
    .container
        h2.nahy-title.center.mb-3.mb-lg-4 Lĩnh vực hoạt động
        .row.livvic
            .col-lg-4.item
                a(href="#")
                    figure
                        .image
                            img(src="./img/home/img-1.png", alt="")
                        figcaption
                            p Thời trang
            .col-lg-4.item
                a(href="#")
                    figure
                        .image
                            img(src="./img/home/img-1.png", alt="")
                        figcaption
                            p Thời trang
            .col-lg-4.item
                a(href="#")
                    figure
                        .image
                            img(src="./img/home/img-1.png", alt="")
                        figcaption
                            p Thời trang