section.chitiet-tuyendung 
    .container 
        .row 
            .col-lg-9.contain
                h3 Trưởng bộ phận hành chính
                time 1.1.2019 
                p 
                    strong Thông tin tuyển dụng:
                table.table 
                    tr 
                        td.title Giới tính
                        td Nam/Nữ
                    tr 
                        td.title Độ tuổi
                        td Từ 25 - 35
                    tr 
                        td.title Bằng cấp
                        td Tối thiểu tốt nghiệp Đại học trở lên chuyên ngành Nhân sự, Quản lý lao động, Kinh tế, Luật hoặc các chuyên ngành có liên quan.
                    tr 
                        td.title Kinh nghiệm
                        td Ít nhất 4 năm kinh nghiệm ở vị trí tương đương và 4 năm trong lĩnh vực nhân sự.
                    tr 
                        td.title Trình độ anh văn
                        td Có khả năng đọc hiểu tài liệu tiếng Anh.
                    tr 
                        td.title Trình độ vi tính
                        td Tin học văn phòng thành thạo.
                    tr 
                        td.title Số lượng tuyển dụng
                        td 01
                    
                //- p 
                //-     strong Hồ sơ dự tuyển 
                //- p 
                //-     ul
                //-         li 
                //-             p Phiếu đăng ký dự tuyển lao động: thực hiện theo mẫu số 4 Thông tư 23/2014/TT BLĐTBXH ngày 29/8/2014 (chỉ kê khai đầy đủ thông tin file word theo mẫu, không cần dán ảnh); 
                //-         li 
                //-             p Sơ yếu lý lịch (chỉ kê khai đầy đủ thông tin file word theo mẫu, không cần dán ảnh);
                //-         li 
                //-             p Bằng tốt nghiệp nghề, bảng điểm quá trình học tập, các chứng chỉ khác (bản scan); - Chứng minh nhân dân (bản scan); 
                p 
                    strong Mô tả công việc:
                p.cata 1.Quản lý và lưu trữ văn bản/ tài liệu của công ty:
                    ul 
                        li
                            p Quản lý hệ thống lưu trữ hồ sơ và qui trình chuẩn.
                        li
                            p Quản lý hệ thống lưu trữ hồ sơ (bản cứng và bản mềm) của Công ty/Tập đoàn.
                p.cata 2.Hoạt động hành chánh thường nhật:
                    ul
                        li 
                            p Xây dựng và triển khai kế hoạch quản lý công tác hành chính hằng năm của toàn công ty đảm bảo hỗ trợ các phòng ban hoàn thành mục tiêu chung của công ty.
                        li 
                            p Theo dõi và kiểm soát công tác hành chính của toàn công ty nhằm xây dựng các đề xuất cải tiến công tác hành chính của phòng hoặc xây dựng các giải pháp khắc phục các sự cố phát sinh.
                        li 
                            p Lên kế hoạch và tổ chức hiệu quả các sự kiện trong nội bộ Công ty (Happy Friday, Tiệc tất niên, du lịch hàng năm, sinh nhật v.v.).
                        li 
                            p Lập và tổ chức thực hiện công tác hành chính phục nhằm phối hợp với các bộ phận tổ chức hiệu quả các sự kiện, chương trình của công ty.
                        li 
                            p Lập báo cáo định kỳ về chi phí hành chính của công ty đảm bảo cập nhật thông tin chính xác, đầy đủ và kịp thời.
                        li 
                            p Lập hồ sơ pháp lý cho công ty, chi nhánh, địa điểm kinh doanh: Thành lập, thay đổi nội dung hoạt động, chấm dứt hoạt động, đăng ký mẫu dấu.

                        li 
                            p Theo dõi, kiểm soát và hướng dẫn thực hiện việc mua bảo hiểm tai nạn 24/24, khám sức khỏe định kỳ hàng năm cho CBNV. 
                p.cata 3.Hỗ trợ nghiệp vụ hành chính cho cấp dưới/ chi nhánh:
                    ul
                        li 
                            p  Hỗ trợ, hướng dẫn nhân viên thực hiện công việc.
                        li 
                            p Hỗ trợ, hướng dẫn nghiệp vụ cho Hành chính Hà Nội và Hải Phòng.

                p.cata 4.Ngân sách:
                    ul
                        li 
                            p  Lập, triển khai và giám sát tình hình sử dụng ngân sách hành chính hàng năm của phòng và công ty đảm bảo kiểm soát chi phí hành chính theo ngân sách công ty đã duyệt.
                p.cata 5.Quy trình quản lý hoạt động hành chính: 
                    ul
                        li 
                            p  Thực hiện các báo cáo định kỳ và đột xuất.
                        li 
                            p Thực hiện các nhiệm vụ khác theo chức năng nhiệm vụ và theo yêu cầu của cấp trên.
                p.cata 
                    strong Yêu cầu công việc:
                    ul 
                        li 
                            p Am hiệu hoạt động bán lẻ. 
                        li 
                            p Kiến thức Hành chính cao cấp,  có quan hệ rộng với các đối tác cung cấp dịch vụ.

                        li 
                            p Có tinh thần trách nhiệm và tư duy tích cực, trung thực và có tính cam kết cao.
                p.cata 
                    strong Thông tin khác
                    ul 
                        li
                            p Có cơ hội thăng tiến, môi trường làm việc sang trọng, lịch sự, đồng nghiệp thân thiện.
                        li 
                            p Tham gia đào tạo về chuyên môn, kỹ năng mềm.

                        li 
                            p Tham gia BHXH, BHYT, BHTN theo quy định, bảo hiểm tai nạn 24/24h.

                        li 
                            p Khám sức khỏe định kỳ.

                        li 
                            p Định kỳ điều chỉnh lương hàng năm theo năng lực cá nhân.

                        li 
                            p Nghỉ mát hàng năm (tiêu chuẩn 4* - 5*) cùng người thân do Công ty đài thọ.

                        li 
                            p Quà tặng các dịp sinh nhật, tết trung thu, lễ giáng sinh, thăm ốm, hiếu hỉ,...

                        li 
                            p Thưởng tất cả các ngày lễ, Tết (thưởng tết Âm lịch từ 1 - 3 tháng lương tùy theo kết quả kinh doanh)

                        li 
                            p Thời gian làm việc: Thứ 2 - Thứ 6 (8h00 - 17h00)
                p.cata 
                    strong Liên hệ ứng tuyển 
                    p (028) 62 88 1188 – Ext: 178

                    p tuyendung@vmgfashion.com

                    p Địa điểm làm việc: Văn phòng TP.HCM

                    p Job tag: #VMGtuyendung, #VMG, #truongbophandaotao
                .button 
                    a.button-ungtuyen Ứng tuyển
                    p Hoặc
                    a.button-down  Tải mẫu đơn xin việc
                    
                        
            .col-lg-3.other
                .head
                    h2 tuyển dụng khác
                ul.list-item
                    li
                        time 27/07/2019
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    li
                        time 27/07/2019
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    li
                        time 27/07/2019
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    li
                        time 27/07/2019
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    
                        


