section.linh-vuc-hoat-dong.nahy-section
    .container
        h1.nahy-title.center.mb-3.mb-lg-4 Lĩnh vực hoạt động
        .list-wrapper
            .wrapper
                .image-wrapper
                    img(src="./img/linh-vuc-hoat-dong/img-1.png", alt="")
                .content-wrapper
                    h4.playfair Trang sức
                    p Mua bán, phân phối các sản phẩm trang sức.
                    p Mua bán, phân phối các sản phẩm trang sức.
                    p Mua bán, phân phối các sản phẩm trang sức.
                    p Mua bán, phân phối các sản phẩm trang sức.
                    a(href="#") Xem thêm
            .wrapper
                .image-wrapper
                    img(src="./img/linh-vuc-hoat-dong/img-1.png", alt="")
                .content-wrapper
                    h4.playfair Trang sức
                    p Mua bán, phân phối các sản phẩm trang sức.
                    p Mua bán, phân phối các sản phẩm trang sức.
                    p Mua bán, phân phối các sản phẩm trang sức.
                    p Mua bán, phân phối các sản phẩm trang sức.
                    a(href="#") Xem thêm
            .wrapper
                .image-wrapper
                    img(src="./img/linh-vuc-hoat-dong/img-1.png", alt="")
                .content-wrapper
                    h4.playfair Trang sức
                    p Mua bán, phân phối các sản phẩm trang sức.
                    p Mua bán, phân phối các sản phẩm trang sức.
                    p Mua bán, phân phối các sản phẩm trang sức.
                    p Mua bán, phân phối các sản phẩm trang sức.
                    a(href="#") Xem thêm