.home-5
    padding: 50px 0
    @media(min-width: 1025px)
        padding: 80px 0
    .text-wrapper
        h2
            margin-bottom: 20px
            @media(min-width: 1025px)
                margin-bottom: 50px
        p
            line-height: 1.4
            font-weight: 400
        a
            display: inline-block
            margin-top: 20px
            padding: 8px 35px
            color: #333333
            border: 1px solid #333
            @media(min-width: 1025px)
                margin-top: 40px
    .top-item-wrapper
        margin-top: 20px
        @media(min-width: 1025px)
            margin-top: 0
    .item
        figure
            position: relative
            .image
                overflow: hidden
                position: relative
                &:before
                    position: absolute
                    top: 0
                    left: -75%
                    z-index: 2
                    display: block
                    content: ''
                    width: 50%
                    pointer-events: none
                    height: 100%
                    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%)
                    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%)
                    -webkit-transform: skewX(-25deg)
                    transform: skewX(-25deg)
                img
                    width: 100%
                    transition: .4s ease-in-out all
            figcaption
                position: absolute
                bottom: 0
                left: 50%
                text-align: center
                padding: 20px 10px
                width: 100%
                transform: translateX(-50%)
                p
                    font-size: 18px
                    color: #fff
                    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75)
                    @media(min-width: 1025px)
                        font-size: 20px
            &:hover
                .image
                    &:before
                        animation: shine 1.5s
                        @-webkit-keyframes shine
                            100%
                                left: 125%
                        @keyframes shine
                            100%
                                left: 125%
    .bottom-wrapper
        margin-top: 30px
        .item
            margin-bottom: 10px