section.home-5.livvic(setBackground='./img/home/bg-3.png')
    .container
        .top-wrapper
            .row
                .col-lg-6.text-wrapper
                    h2.nahy-title Đối tác doanh nghiệp
                    p Trong quá trình phát triển, Nahy luôn xem khách hàng là trung tâm cho sự không ngừng sáng tạo và đổi mới trong các hoạt động sản xuất của mình nhằm đáp ứng tốt hơn những yêu cầu của khách hàng cá nhân cũng như là doanh nghiệp bằng chính những sản phẩm và dịch vụ có chất lượng và uy tín, sự tăng trưởng và phát triển của mình. Công ty TNHH Thương mại Dịch vụ Sản xuất NAHY luôn đồng hành với những giá trị đích thực của toàn xã hội.
                    a(href="#") Xem thêm
                .col-lg-6.top-item-wrapper
                    .item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/home/img-7.png", alt="")
                                figcaption
                                    p Thời trang
        .bottom-wrapper
            .row
                .col-lg-3.top-item-wrapper
                    .item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/home/img-7.png", alt="")
                                figcaption
                                    p Thời trang
                .col-lg-3.top-item-wrapper
                    .item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/home/img-7.png", alt="")
                                figcaption
                                    p Thời trang
                .col-lg-3.top-item-wrapper
                    .item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/home/img-7.png", alt="")
                                figcaption
                                    p Thời trang
                .col-lg-3.top-item-wrapper
                    .item
                        a(href="#")
                            figure
                                .image
                                    img(src="./img/home/img-7.png", alt="")
                                figcaption
                                    p Thời trang