.col-lg-9.list-product 
    .title-sort 
        h4.f-2 Bộ sưu tập mùa xuân 
        .select
            .custom-select
                select
                    option(value="1") Sắp xếp theo
                    option(value="2") mới nhất
                    option(value="3") giá cao nhất
        .filter-buttons
            .grid-view-button.active
                em.fas.fa-th
            .list-view-button
                em.fas.fa-list-ul
    ol.list.grid-view-filter
        li 
            .product-item 
                figure 
                    .img 
                        img(src="./img/pro-1.png", alt="")
                        .overlay 
                            a.add-cart(href="")
                                em.mdi.mdi-cart
                                | cho vào giỏ hàng 
                            a.view-detail(href="")
                                em.mdi.mdi-eye
                                | xem sản phẩm
                    figcaption 
                        a.title(href="") Dây chuyền MOSHNA P23
                        span.price 900000 đ
        li 
            .product-item 
                figure 
                    .img 
                        img(src="./img/pro-1.png", alt="")
                        .overlay 
                            a.add-cart(href="")
                                em.mdi.mdi-cart
                                | cho vào giỏ hàng 
                            a.view-detail(href="")
                                em.mdi.mdi-eye
                                | xem sản phẩm
                    figcaption 
                        a.title(href="") Dây chuyền MOSHNA P23
                        span.price 900000 đ
        li 
            .product-item 
                figure 
                    .img 
                        img(src="./img/pro-1.png", alt="")
                        .overlay 
                            a.add-cart(href="")
                                em.mdi.mdi-cart
                                | cho vào giỏ hàng 
                            a.view-detail(href="")
                                em.mdi.mdi-eye
                                | xem sản phẩm
                    figcaption 
                        a.title(href="") Dây chuyền MOSHNA P23
                        span.price 900000 đ
        li 
            .product-item 
                figure 
                    .img 
                        img(src="./img/pro-1.png", alt="")
                        .overlay 
                            a.add-cart(href="")
                                em.mdi.mdi-cart
                                | cho vào giỏ hàng 
                            a.view-detail(href="")
                                em.mdi.mdi-eye
                                | xem sản phẩm
                    figcaption 
                        a.title(href="") Dây chuyền MOSHNA P23
                        span.price 900000 đ
        li 
            .product-item 
                figure 
                    .img 
                        img(src="./img/pro-1.png", alt="")
                        .overlay 
                            a.add-cart(href="")
                                em.mdi.mdi-cart
                                | cho vào giỏ hàng 
                            a.view-detail(href="")
                                em.mdi.mdi-eye
                                | xem sản phẩm
                    figcaption 
                        a.title(href="") Dây chuyền MOSHNA P23
                        span.price 900000 đ
        li 
            .product-item 
                figure 
                    .img 
                        img(src="./img/pro-1.png", alt="")
                        .overlay 
                            a.add-cart(href="")
                                em.mdi.mdi-cart
                                | cho vào giỏ hàng 
                            a.view-detail(href="")
                                em.mdi.mdi-eye
                                | xem sản phẩm
                    figcaption 
                        a.title(href="") Dây chuyền MOSHNA P23
                        span.price 900000 đ
        